{
  "diskinfo":
    {
      "boot-size": "512MB",
      "swap-size": "2GB",
      "grub-uefi-name": "archlinux"
    },
  "systeminfo":
    {
      "hostname": "archx64",
      "keymap": "pt-latin1",
      "locale": "en_US.UTF-8",
      "timezone": "Europe/Lisbon"
    },
  "userinfo":
    {
      "username": "vuser",
      "userpass": "1234",
      "rootpass": "root"
    },
   "basepkgs": ["base", "base-devel", "linux", "linux-firmware", "nano", "networkmanager", "grub", "efibootmgr", "os-prober", "sudo", "bash-completion", "man", "intel-ucode", "amd-ucode"]
}

